.holotree {
  background-color: #fbfbfb;
  color: #111111;
  border-width: 1px;
  border-style: solid;
  border-color: #9ec1d0;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: 1px 2px 3px #2d4e5c;
  -webkit-box-shadow: 1px 2px 3px #2d4e5c;
  box-shadow: 1px 2px 3px #2d4e5c; }
  .holotree a {
    color: #527494; }
    .holotree a:hover {
      color: #121a21;
      border-bottom: 1px dotted #becddb; }
    .holotree a:visited {
      color: #8f8c6c; }
      .holotree a:visited:hover {
        color: #29281f;
        border-bottom: 1px dotted #becddb; }

.landing-feature-box {
  background-color: #fbfbfb;
  color: #111111;
  border-width: 1px;
  border-style: solid;
  border-color: #9ec1d0;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: 1px 2px 3px #2d4e5c;
  -webkit-box-shadow: 1px 2px 3px #2d4e5c;
  box-shadow: 1px 2px 3px #2d4e5c; }
  .landing-feature-box h3 {
    color: #527494;
    font-size: 1.1em;
    text-align: center; }
  .landing-feature-box ul {
    list-style-type: none; }
  .landing-feature-box a {
    color: #527494; }
    .landing-feature-box a:hover {
      color: #121a21;
      border-bottom: 1px dotted #becddb; }
    .landing-feature-box a:visited {
      color: #8f8c6c; }
      .landing-feature-box a:visited:hover {
        color: #29281f;
        border-bottom: 1px dotted #becddb; }

#landing-cta {
  background-color: #527494;
  color: #fbfbfb;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  #landing-cta a {
    color: #111111; }
    #landing-cta a:hover {
      color: #becddb;
      border-bottom: 1px dotted #becddb; }
    #landing-cta a:visited {
      color: #111111; }
      #landing-cta a:visited:hover {
        color: #becddb;
        border-bottom: 1px dotted #becddb; }

h1.entry-title, h1.entry-title a {
  color: #111111; }

h2.site-description {
  color: #527494; }

.holo-deck-cover img {
  width: 60%;
  height: 60%; }

.orbit-container li {
  padding: 4px 4px 4px 4px; }

#orbit-row {
  margin-bottom: 8px; }
