$white: #fbfbfb;
$black: #111;

$primary: #527494;
$secondary: #8F8C6C;
$accent: #9EC1D0;
$primaryComp: complement($primary);
$primaryTint: lighten($primary, 35%);
$primaryShade: darken($primary, 35%);
$secondaryComp: complement($secondary);
$secondaryTint: lighten($secondary, 35%);
$secondaryShade: darken($secondary, 35%);
$accentComp: complement($accent);
$accentTint: lighten($accent, 45%);
$accentShade: darken($accent, 45%);

$lightBlue: #D3F6FD;



