@mixin holotree-noShadow-variable($bgColor, $textColor, $a, $aHover, $aVisited, $aVisitedHover, $aUnderline, $borderWidth, $borderColor, $cornerRadius) {
	background-color: $bgColor;
	color: $textColor;
	@include aUniform ($a, $aHover, $aVisited, $aVisitedHover, $aUnderline);
	@include border ($borderColor, $borderWidth);
	@include corners ($cornerRadius);
}

@mixin holotree-variable($bgColor, $textColor, $a, $aHover, $aVisited, $aVisitedHover, $aUnderline, $borderWidth, $borderColor, $cornerRadius, $shadowColor) {
	@include holotree-noShadow-variable($bgColor, $textColor, $a, $aHover, $aVisited, $aVisitedHover, $aUnderline, $borderWidth, $borderColor, $cornerRadius);
	@include shadow ($shadowColor);
}

@mixin holotree-noShadow {
	@include holotree-noShadow-variable($white, $black, $primary, $primaryShade, $secondary, $secondaryShade, $primaryTint, 1px, $accent, 6px);
}

@mixin holotree {
	@include holotree-noShadow;
	@include shadow ($accentShade);

}




