@import 'colors';
@import 'mixins';
@import 'regulars';

.holotree {
	@include holotree;
}

.landing-feature-box{
	h3{color:$primary; font-size:1.1em; text-align:center;}
	ul{list-style-type:none;}
	@include holotree;
}

#landing-cta{
	@include holotree-noShadow-variable($primary, $white, $black, $primaryTint, $black, $primaryTint, $primaryTint, 1px, $accentTint, 8px);
}

h1.entry-title, h1.entry-title a {
	color: $black;
}

h2.site-description {
	color:$primary;
}

.holo-deck-cover {
	img {width:60%; height: 60%}
}

.orbit-container li {
	@include padding-even (4px);
}

#orbit-row {
	margin-bottom: 8px;
}